<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187424100477-b3vje48i88b2nc6om2upteqet0403ti4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187424100477-b3vje48i88b2nc6om2upteqet0403ti4</string>
	<key>API_KEY</key>
	<string>AIzaSyBdetlvGB5tU3CeAXG0zjD-KhxKAYDBW2A</string>
	<key>GCM_SENDER_ID</key>
	<string>187424100477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VivianObiako.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f4b72</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f4b72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187424100477:ios:48603e3935fdab1beee114</string>
</dict>
</plist>